<p>
  test works!
</p>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <fieldset [disabled]="isSubmitting">
    <div class="login-container__form__input">
      <fieldset class="ui-float-label">
        <input id="account" type="text" size="30" formControlName="account" />
        <label for="account">用户名</label>
      </fieldset>
    </div>
    <button type="submit" class="login-container__form__loginbtn TQ-btn" [disabled]="!loginForm.valid">
      登录
      <i class="pi pi-spin pi-spinner"></i>
    </button>
  </fieldset>
</form>

<!-- <form action="#">
  <fieldset>
    <legend>Simple fieldset</legend>
    <input type="radio" id="radio">
    <label for="radio">Spirit of radio</label>
  </fieldset>
</form> -->

<p-button label="Submit"></p-button>

<header id="header">
  <div class="header__user-profile" (click)="op.toggle($event)">
    <div class="header__user-profile__name">
      图轻
    </div>
    <i class="header__user-profile__triangle pi pi-angle-down"></i>
  </div>
  <p-overlayPanel #op>
    <!-- <p-listbox [options]="menus" [listStyle]="{ 'max-height': '250px' }">
      <ng-template let-menu pTemplate="item">
        <div class="ui-helper-clearfix" (click)="handleClickMenu(menu)">
          {{ menu.label }}
        </div>
      </ng-template>
    </p-listbox> -->
    sdsds
  </p-overlayPanel>
</header>
